body {
    background-color: #0f0f0f;
    color: #dcdcdc;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
    max-width: 600px;
    margin: auto;
}

h1, h2 {
    color: #b30000;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

button {
    background-color: #b30000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4d4d;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    resize: none;
}
